:root {
  --background-color: #fcffca;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

container {
  margin: 100px 25px;
}

body {
  background-color: var(--background-color);
}

.logo-small img {
  max-width: 50px;
  margin: 0 50px 0 50px;
}

.main-page {
  text-align: center;
  padding: 120px 20px 50px;
}

.main-page h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  color: rgb(196, 21, 21);
}

.main-page h2 {
  font-family: var(--heading-font-family);
  font-size: 48px;
  color: #216d21;
}

.main-page h3 {
  font-family: var(--heading-font-family);
  font-size: 48px;
}

.main-page .menu-button {
  margin: 100px auto;
}

.main-page .menu-button-link {
  border: 3px solid black;
  border-radius: 35px;
  color: black;
  background: var(--background-color);
  font-family: var(--default-font-family);
  font-size: 25px;
  font-weight: 500;
  padding: 15px 30px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.main-page .menu-button a:hover {
  color: rgb(196, 21, 21);
}

.main-page-content {
  background-color: white;
  padding: 5%;
}

.main-page .benefits {
  padding: 5%;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  text-align: center;
  padding: 20px 0;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 35px;
  text-align: center;
}

p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 35px;
  opacity: 75%;
  margin: 0;
}

.about-page-content,
.contact-page-content {
  max-width: 700px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 3%;
}

.logo-large {
  max-width: 700px;
  display: block;
  margin: 0 auto;
}

ul {
  padding: 0;
}

ul li {
  font-family: var(--default-font-family);
  font-size: 16px;
  list-style-type: none;
  opacity: 75%;
}

.price {
  font-weight: bold;
  float: right;
}

footer {
  text-align: center;
  font-family: var(--default-font-family);
  padding: 0 5%;
}

@media (max-width: 768px) {
  .main-page h1 {
    font-size: 65px;
  }

  .main-page h2 {
    font-size: 35px;
  }

  .main-page h3 {
    font-size: 35px;
  }

  h1 {
    font-size: 65px;
  }

  .menu-link {
    border: 3px solid black;
    border-radius: 35px;
    color: black;
    background: var(--background-color);
    font-family: var(--default-font-family);
    font-size: 15px;
    font-weight: 500;
    padding: 8px 20px;
    text-decoration: none;
    transition: all 100ms ease-in-out;
  }

  .logo-large {
    max-width: 350px;
    display: block;
    margin: 0 auto;
  }
}
