:root {
  --primary-color: rgb(196, 21, 21);
  --secondary-color: #216d21;
  --background-color: #fcffca;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.front-page h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  color: var(--primary-color);
}

.front-page h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 48px;
  color: var(--secondary-color);
}

h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 42px;
}

.front-page p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 35px;
  opacity: 80%;
}

.front-page {
  text-align: center;
  padding: 180px 20px;
}

body {
  background-color: var(--background-color);
}

.home-page-content {
  background-color: white;
  padding: 5%;
}

.about-page-paragraph {
  max-width: 700px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 3%;
}

.contacts {
  max-width: 700px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 3%;
  font-family: var(--default-font-family);
}

.menu {
  margin: 100px auto;
}

.menu-link {
  border: 3px solid black;
  border-radius: 35px;
  color: black;
  background: var(--background-color);
  font-size: 25px;
  font-weight: 500;
  padding: 15px 30px;
  text-decoration: none;
  opacity: 80%;
  transition: all 100ms ease-in-out;
}

.menu a:hover {
  color: red;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  text-align: center;
}

ul {
  font-family: var(--default-font-family);
  font-size: 16px;
  list-style-type: none;
}

.hours-head {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 36px;
  margin: 0 auto;
}

p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 35px;
  opacity: 75%;
  margin: 3%;
}

.price {
  font-weight: bold;
  float: right;
}

.logo-small img {
  max-width: 50px;
  margin: 0 50px 0 50px;
}

footer {
  text-align: center;
  font-family: var(--default-font-family);
}

@media (max-width: 700px) {
  .front-page h1 {
    font-size: 65px;
  }

  .front-page h2 {
    font-size: 35px;
  }

  .front-page h3 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .benefits {
    text-align: center;
    margin-top: 40px;
  }

  h1 {
    font-size: 65px;
  }

  p {
    text-align: center;
  }

  .logo {
    max-width: 350px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

@media (min-width: 700px) {
  .front-page h3 {
    margin: 0 30px 30px 0;
  }

  .benefits {
    margin: 40px 30px;
    text-align: center;
  }

  .logo {
    max-width: 700px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
